.bg-amarillo {
    background-color: #ffd700; 
}

.titulo-principal {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem; /* tamaño de fuente relativo al tamaño de la página: 16px base */
}

.subtitulo {
    font-family: 'Verdana', sans-serif;
    margin-bottom: 1rem;
}

.texto-parrafo {
    font-size: 1.1rem;
    line-height: 1.6;
}

.subtitulo, 
.texto-parrafo {
    text-align: center;
}

