.bg-amarillo {
    background-color: #ffd700; /* Amarillo fuerte */
}

.titulo-principal {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
}

.subtitulo {
    font-family: 'Verdana', sans-serif;
    margin-bottom: 1rem;
}