.bg-amarillo {
    background-color: #ffd700; /* Amarillo fuerte */
}

.titulo-principal {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem; /* tamaño de fuente relativo al tamaño de la página */
}

.subtitulo {
    font-family: 'Verdana', sans-serif;
    margin-bottom: 1rem;
}

.texto-parrafo {
    font-size: 1.1rem;
    line-height: 1.6;
}